@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{

    <script type="text/javascript">
        var intervalProcess;
        $(function () {
            $('#sb').switchbutton({
                checked: false,
                onChange: function (checked) {
                    setTimeRefresh(checked)
                }
            })
        });
    </script>
    <script type="text/javascript">

        $(function () {
            $('#tbGrid').datagrid({
                url: '/data/GetStockData',
                columns: [[
                    { field: 'stockcode', title: '股票代码' },
                    { field: 'codename', title: '股票名称' },
                    {
                        field: 'newprice', title: '最新价', align: 'right', formatter: function (value) {
                            return "<span style='color:red'>" + value + "</span>";
                        }
                    },
                    {
                        field: 'enelower', title: '下轨', align: 'right',
                        formatter: function (value) {
                            return "<span style='color:red'>" + value + "</span>";
                        }
                    },
                    {
                        field: 'lowestprice', title: '最低价', align: 'right', formatter: function (value) {
                            return "<span style='color:red'>" + value + "</span>";
                        }
                    },
                    {
                        field: 'changerate', title: '涨跌幅', align: 'right', formatter: function (value) {
                            return "<span style='color:red'>" + value + "</span>";
                        }
                    },

                    { field: 'lastprice', title: '收盘价', align: 'right' },
                    { field: 'openprice', title: '开盘价', align: 'right' },
                    { field: 'highestprice', title: '最高价', align: 'right' },

                    //{ field: 'turnover', title: '最新价', width: 100, align: 'right' },
                    //{ field: 'tradingvolume', title: '最新价', width: 100, align: 'right' },
                    { field: 'changeamount', title: '涨跌额', align: 'right' },

                    { field: 'amplitude', title: '振幅', align: 'right' },
                    { field: 'eneupper', title: '上轨', align: 'right' },
                    { field: 'enemiddle', title: '中轨', align: 'right' },

                    {
                        field: 'istouch5', title: '是否碰触', align: 'right', formatter: function (value) {
                            if (value == true) {
                                return "√";
                            } else {
                                return "×";
                            }
                        }
                    },
                    {
                        field: 'tradetime', title: '交易时间', align: 'right',
                        formatter: function (value) {
                            return value.replace(/T/, " ");
                        }
                    },
                    {
                        field: '', title: '   ',
                        formatter: function (value, row) {
                            console.info(row);
                            return '<a href="javascript:void(0)" onclick="openWindow(' + '\'' + row.stockcode + '\'' + ')">详细</a>';
                        }
                    }
                ]],
                singleSelect: true
            });

            $('#fromdate').datebox({
            });

            $('#enddate').datebox({
            });

            $('#win').window('close');

        });


        function openWindow(stockcode) {
            $('#win').window({
                title: "分时/K线",
                width: 600,
                height: 400,
                modal: true,
                content: "<div id='tab' class='easyui-tabs' style='width:100%;height:100%;'></div>"
            }).window('open');

            var stock;
            if (stockcode.substring(0, 1) == "3" || stockcode.substring(0, 1) == "0") {
                stock = "sz" + stockcode + ".gif";
            } else if (stockcode.substring(0, 1) == "6") {
                stock = "sh" + stockcode + ".gif";
            } else {
                stock = stockcode + ".gif";
            }

            var min = "http://image.sinajs.cn/newchart/min/n/" + stock;
            var daily = "http://image.sinajs.cn/newchart/daily/n/" + stock;
            var weekly = "http://image.sinajs.cn/newchart/weekly/n/" + stock;
            var monthly = "http://image.sinajs.cn/newchart/monthly/n/" + stock;

            $('#tab').tabs('add', {
                title: '分时详情',
                content: '<iframe src=' + min + ' style="width:98%;height:98%;"></iframe>'
            }).tabs('add', {
                title: '日K线',
                content: '<iframe src=' + daily + ' style="width:98%;height:98%;"></iframe>'
            }).tabs('add', {
                title: '周K线',
                content: '<iframe src=' + weekly + ' style="width:98%;height:98%;"></iframe>'
            }).tabs('add', {
                title: '月K线',
                content: '<iframe src=' + monthly + ' style="width:98%;height:98%;"></iframe>'
            }).tabs("select", "分时详情");
        }

        function reload() {
            var startdate = $("#fromdate").datebox('getValue');
            var enddate = $("#enddate").datebox('getValue');

            console.info(startdate);
            console.info(enddate);

            $('#tbGrid').datagrid('reload', {
                startdate: startdate,
                enddate: enddate
            });
        }

        function setTimeRefresh(checked) {
            if (checked) {
                intervalProcess = setInterval("reload()", 5000);//1000为1秒钟
            } else {
                clearInterval(intervalProcess);
            }
            
        }

    </script>

}

<label for="fromdate">开始日期</label> <input id="fromdate" type="text"></input>
<label for="fromdate">结束日期</label> <input id="enddate" type="text"></input>
<a id="refresh" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="reload()">刷新</a>
<input id="sb" class="easyui-switchbutton">
<a id="btn1" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="openWindow('sh000001')">上证</a>
<a id="btn2" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="openWindow('sz399001')">深证</a>
<a id="btn3" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="openWindow('sz399006')">创业板</a>
<a id="btn4" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="openWindow('sz399005')">中小板</a>
<table id="tbGrid"></table> 